/*
@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('../fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('../fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
     url('../fonts/AtlasGrotesk-Medium-Web.woff') format('woff'),
     url('../fonts/AtlasGrotesk-Medium-Web.ttf') format('truetype'),
     url('../fonts/AtlasGrotesk-Medium-Web.svg#AtlasGrotesk-Medium') format('svg');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}
*/
/* DRUK! */
/* Druk Medium */
@font-face {
  font-family: 'Druk Web';
  src: url('../fonts/Druk-Medium-Web.eot');
  src: url('../fonts/Druk-Medium-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/Druk-Medium-Web.woff') format('woff'), url('../fonts/Druk-Medium-Web.ttf') format('truetype'), url('../fonts/Druk-Medium-Web.svg#Druk Web') format('svg');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
/* Druk Wide Super */
@font-face {
  font-family: 'Druk Wide Web';
  src: url('../fonts/DrukWide-Super-Web.eot');
  src: url('../fonts/DrukWide-Super-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/DrukWide-Super-Web.woff') format('woff'), url('../fonts/DrukWide-Super-Web.ttf') format('truetype'), url('../fonts/DrukWide-Super-Web.svg#Druk Wide Web') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}
a {
  color: blue;
}
a:hover,
a:active {
  text-decoration: none;
  color: blue;
}
/* all */
::-webkit-input-placeholder {
  color: blue;
  font-weight: 400;
}
::-moz-placeholder {
  color: blue;
  font-weight: 400;
}
:-ms-input-placeholder {
  color: blue;
  font-weight: 400;
}
input:-moz-placeholder {
  color: blue;
  font-weight: 400;
}
input:focus,
textarea:focus {
  border: none;
}
textarea {
  width: 100%;
  padding: 20px;
  color: blue;
  border: 3px solid;
}
textarea:focus {
  border: 3px solid;
}
button:focus {
  outline: 0;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.align_right {
  text-align: right;
}
pre {
  padding-top: 60px;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
}
select {
  background: transparent;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  color: blue;
  border: 3px solid;
}
.ilsep {
  width: 10px;
  display: inline-block;
}
pre {
  padding-top: 9.5px;
}
body.loading {
  cursor: wait;
}
body {
  padding: 0;
  margin: 0;
  font: 15px 'Druk Wide Web', Helvetica, Arial, sans-serif;
  line-height: 1;
  height: 100%;
  color: blue;
}
header {
  position: fixed;
  top: 0px;
  padding: 30px 30px 26px;
  background-color: white;
  width: 100%;
  z-index: 1;
}
section {
  margin-top: 73px;
  margin-bottom: 82px;
  padding: 0 15px;
}
footer {
  position: fixed;
  bottom: 0px;
  padding: 20px;
  width: 100%;
  background-color: white;
  z-index: 1;
}
body.loading #loader {
  display: block;
}
#loader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 255, 0.2);
  cursor: wait;
  display: none;
  z-index: 2;
}
.offside_top {
  -webkit-transform: translate3d(0, -88px, 0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translate3d(0, -88px, 0);
  /* IE 9 */
  transform: translate3d(0, -88px, 0);
  /* Firefox 16+, IE 10+, Opera */
}
.offside_bottom {
  -webkit-transform: translate3d(0, 54px, 0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translate3d(0, 54px, 0);
  /* IE 9 */
  transform: translate3d(0, 54px, 0);
  /* Firefox 16+, IE 10+, Opera */
}
.sepBlue {
  height: 3px;
  background-color: blue;
}
.sepWhite {
  height: 3px;
  background-color: white;
}
.sep10 {
  height: 10px;
}
.sep20 {
  height: 20px;
}
.fiboA {
  width: calc(38.19530284%);
  display: inline-block;
  vertical-align: top;
}
.fiboB {
  width: calc(61.80469716%);
  display: inline-block;
  vertical-align: top;
}
p {
  margin-bottom: 1em;
}
p:last-child {
  margin-bottom: 0;
}
.border,
.btn {
  border: 3px solid;
}
input:focus {
  border: 3px solid;
}
input,
button {
  background-color: transparent;
  vertical-align: top;
}
fieldset {
  padding: 0;
}
.pad10 {
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.hr3blue {
  height: 3px;
  margin: 15px 0 34px;
  background-color: blue;
}
/*------------------------------------*\
    RESET BOOTSTRAP
\*------------------------------------*/
h1,
h2,
h3 {
  font-size: 1em;
  margin: 0;
}
.form-group {
  margin-bottom: 0;
}
.form-control,
.btn {
  border: 3px solid;
  border-radius: 0;
  padding: 15px;
  height: auto;
  opacity: 1;
}
.form-control {
  color: blue;
}
/*------------------------------------*\
    HEADER
\*------------------------------------*/
h1 {
  font-family: 'Druk Wide Web';
}
nav li {
  float: left;
  margin-right: 10px;
  min-width: 100px;
}
.sort {
  padding-left: 5px;
}
#s_btn {
  cursor: pointer;
}
#s_btn:hover {
  color: black;
}
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
footer li {
  float: right;
  margin-left: 10px;
}
/*------------------------------------*\
    LISTE
\*------------------------------------*/
/*------------------------------------*\
    SUBMIT
\*------------------------------------*/
form .row {
  margin-bottom: 30px;
}
form input {
  width: 100%;
  padding: 10px;
  color: blue;
  border: 3px solid;
}
.span3 {
  width: calc(33.33333333%);
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  /* pour Opera 9 */
  text-overflow: ellipsis;
  /* pour le reste du monde */
  white-space: nowrap;
}
.span6 {
  width: calc(100% / 2 - 10px);
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  /* pour Opera 9 */
  text-overflow: ellipsis;
  /* pour le reste du monde */
  white-space: nowrap;
}
.span9 {
  width: calc(100% - 33.3333%);
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  /* pour Opera 9 */
  text-overflow: ellipsis;
  /* pour le reste du monde */
  white-space: nowrap;
}
form .span6:nth-child(1) {
  margin-right: 20px;
}
form .span3 input {
  width: calc(100% - 10px);
}
form .span3:not(.last):nth-child(3) input {
  width: calc(100% - 54px);
}
form textarea {
  padding: 10px;
}
form button {
  border: none;
  color: blue;
  padding: 10px;
  cursor: pointer;
}
form input[type=submit]:hover {
  background: black;
}
form input[type=submit] {
  background: blue;
  color: white;
  width: 100%;
  border-color: blue;
}
form input[type=submit]:hover {
  color: white;
  background-color: black;
  border-color: black;
}
.form-row {
  position: relative;
}
.form-row .hvr {
  position: absolute;
  top: 10px;
  opacity: 0.2;
}
.form-row:hover .hvr {
  opacity: 1;
}
.add-row,
.remove-row {
  font-weight: bold;
  font-size: 16px;
}
.add-row {
  color: blue;
  width: 100% !important;
}
.add-row:hover {
  background-color: blue;
  color: white;
  border-color: blue;
}
.remove-row {
  color: red;
  width: 100% !important;
}
.remove-row:hover {
  background-color: red;
  color: white;
  border-color: red;
}
.validate-row {
  color: green;
  width: 100% !important;
}
.validate-row:hover {
  background-color: green;
  color: white;
  border-color: green;
}
.update fieldset input {
  background-color: blue;
  color: white;
  border-color: blue;
}
fieldset.success input {
  background-color: green;
  color: white;
  border-color: green;
}
fieldset.success .validate-row {
  background-color: green;
  color: white;
  border-color: green;
}
.form-control[disabled],
.form-control[readonly],
.btn[disabled] {
  opacity: 1;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: blue;
}
fieldset.success .form-control[readonly] {
  background-color: green;
}
form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: blue !important;
}
form ::-moz-placeholder {
  /* Firefox 19+ */
  color: blue !important;
}
form :-ms-input-placeholder {
  /* IE 10+ */
  color: blue !important;
}
form :-moz-placeholder {
  /* Firefox 18- */
  color: blue !important;
}
.form-control:focus {
  border-color: blue !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media all and (orientation: portrait) {
  #rotate {
    display: block;
  }
}
@media all and (orientation: landscape) {
  #rotate {
    display: none;
  }
}
/* Responsive: Portrait tablets and up */
