footer
    div.row
        div.col-md-2.col-xs-0
        div.col-md-2.col-xs-0
        div.col-md-2.col-xs-3
            a(href='https://www.facebook.com/theskateboardsoundtracks' rel='' target='_blank') 
                i.fa.fa-facebook
        div.col-md-2.col-xs-3
            a(href='https://twitter.com/Bounews' rel='' target='_blank') 
                i.fa.fa-twitter
        div.col-md-2.col-xs-6
            a(href='mailto:atmet.ghazi@gmail.com' rel='ajax') Contact



div#loader